@font-face {
    font-family: 'f1';
    src: url('../fonts/ametist.ttf');
}

@font-face {
    font-family: 'f2';
    src: url('../fonts/sk-porsche.ttf');
}

@font-face {
    font-family: 'f3';
    src: url('../fonts/toscania.ttf');
}

*{
    margin: 0;
    padding: 0;
}

div{
    text-align: center;
    color: azure;
    font-size: 39px;
    font-family: f3;
}

body{
background: #123;
}

#container{
    width: 350px;
    border: 1px solid white;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    border-radius: 7px  ;
    align-items: center;
}

#container div{
    border: 1px dotted #ffff;
    overflow: hidden;
}

#container div img{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 35px #ffff;
    cursor: pointer;
    transition: 0.7s;
}

#container div img:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}
